.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 0;
    z-index: 1000;
    width: 100vw;
    padding-bottom: 0px;
}

.header nav ul {
    list-style-type: none;
    padding: 10px;
}

.header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.header nav ul li a {
    color: #000;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
